<!-- <p>{{currentTime}}</p> -->
<div ngClass.xs="mobile">

  <div class="nav-container" >
      <div class="flex-item left-elements">
        <img class="hamburger-button" src="../../../assets/navigation-element/hamburger-icon.png" fxHide.gt-xs='true'>
        <div class="flex-item logo">
          <img class="logo-epicure" src="../../../assets/navigation-element/logo.jpg">
        </div>

        <div class="epicure" fxHide.xs>
          EPICURE
        </div>
        <div class="restaurants" fxHide.xs>
          Restaurants
        </div>
        <div class="chefs" fxHide.xs>
          Chefs
        </div>
      </div>

      <div class="flex-item right-elements">
        <div class="searchBoxGroup">
          <div class="search-box-text" fxHide.xs>
            Search for restaurant cuisene, chef
          </div>
          <div class="search-box-icon">
            <img class="logo-search" src="../../../assets/navigation-element/nav_search-icon.svg">
          </div>
        </div>
        <div class="user-icon">
          <img class="logo-user" src="../../../assets/navigation-element/nav_user-icon.svg">
        </div>
        <div class="bag-icon">
          <img class="logo-bag" src="../../../assets/navigation-element/nav_bag-icon.svg">
        </div>
      </div>
  </div>

</div>
